:root {
  --primary-color: rgba(0, 157, 84, 0.82);
  --secondary-color: rgb(0, 239, 72);
  --bg-color: rgb(233, 233, 233);
}

.Home h1 {
  color: var(--primary-color);
}

.About,
.Experience,
.Contact {
  background-color: var(--bg-color);
  padding: 1.5rem;
}

.HakimPic {
  width: 300px;
  height: 300px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 1px #000;
}

.Home img,
.Skills img,
.Projects img,
.Education img,
.Contact img {
  width: 100%;
}
.hr {
  width: 300px !important;
  border-width: 2px;
  border-color: var(--primary-color);
}

.About h2,
.Skills h2,
.Projects h2,
.Experience h2,
.Education h2,
.Contact h2 {
  color: var(--primary-color);
}

.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  box-shadow: 0px 0.5px 3px #000;
}

.brand {
  color: var(--primary-color) !important;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-item:active {
  color: var(--primary-color);
}

.submit-btn {
  background: var(--primary-color) !important;
  color: white !important;
}

.edu-table {
  border-color: var(--primary-color) !important;
}

.edu-table th {
  color: var(--primary-color);
}

.footer {
  background: var(--primary-color);
  padding: 0;
}

.active {
  color: var(--primary-color) !important;
}

.resume-btn {
  background: var(--primary-color) !important;
  color: white !important;
  /* resume button */
}

.skill-hr {
  width: 300px !important;
  height: 2px;
  color: var(--primary-color);
  border-width: 2px;
  margin: 0 auto;
}
