:root {
    --primary-color: #00332c;
    --secondary-color: rgba(252, 252, 252, 0.56);
    --bg-color: rgba(148, 146, 146, 0.49);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Overlook";
    src: url("../font/Overlock-Regular.ttf"),
    url("../font/Overlock-Bold.ttf");
}

body {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Overlook, serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.side-bar {
    padding: 10px;
    background: var(--bg-color);
    width: 18%;
    overflow: auto;
}

.content {
    width: 78%;
    background: var(--bg-color);
    overflow: auto;
}

.title {
    text-align: center;
    color: var(--primary-color);
}

#surah_info {
    text-align: center;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
}

.title__color {
    color: var(--primary-color);
}

#surah_num,
#ayah_num {
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    font-family: Overlook, sans-serif;
    border: none;
}

.action__area {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn {
    padding: 10px;
    color: white;
    font-family: Overlook, sans-serif;
    background: var(--primary-color);
    border-radius: 4px;
    border: none;
    margin: 0 5px;
    font-weight: 500;
    font-size: 18px;
}

.btn a {
    color: var(--primary-color);
}

.result__area {
    text-align: center;
}

.ayah {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 5px;
    list-style-type: none;
    font-size: 22px;
    font-weight: 500;
}

#surah_search {
    width: 100%;
    padding: 5px;
    margin: 4px 0;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    background-color: white;
    color: var(--primary-color);
}

#suggestions li{
    cursor: pointer;
    font-size: 16px;
}

#suggestions li:hover{
    background-color: var(--bg-color);
}

.surah__list li {
    list-style-type: none;
    border-bottom: 1px solid var(--primary-color);
    padding: 5px;
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    font-weight: 550;
}

.surah__list li:hover,
.ayah:hover {
    background: var(--secondary-color);
}

.ayah:hover .audio {
    display: inline-block;
}

a {
    text-decoration: none;
}

.audio {
    margin-left: 10px;
    display: none;
}